git+https://github.com/kaylode/theseus.git@v1.0.1
git+https://github.com/cheind/py-thin-plate-spline@master
gitpython==3.1.27
progressbar2==4.0.0
monai==1.0.0
SimpleITK==2.0.2
imageio==2.21.2
nibabel==4.0.2
moviepy==1.0.3
einops==0.2.0
ml_collections==0.1.1