albumentations>=1.1.0
pyyaml>=5.1
webcolors
tensorboard
tqdm
omegaconf
pycocotools
gdown>=4.4.0
grad-cam
tabulate
segmentation-models-pytorch
gitpython
progressbar2
opencv-python-headless
monai
SimpleITK==2.0.2
loguru
pandas
wandb
opencv-python
setuptools==59.5.0
imageio
nibabel